*{
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.div-component-institutions {
    background-color: #f8f9fa;
    height: 100vh;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f9fa;
    padding: 10px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 8vh;
    position: relative; 
  }

.Sidebar input[type="button"] {
    background-color: #007BFF; 
    color: white; 
    border: none; 
    border-radius: 4px; 
    padding: 12px; 
    margin: 10px 0; 
    cursor: pointer; 
    transition: background-color 0.3s, transform 0.2s; 
}

.Sidebar input[type="button"]:hover {
    background-color: #0a40bd;
    transform: scale(1.05); 
}

/* //////////////////////////////////////////////////////////// */
#open-close {
    background-color: #007bff;
    border: none;
    color: white;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 18px;
    
  }
  .label-home-inst{
    color: #1d318b;
  }
  
  
  .right-section {
    display: flex;
    align-items: center;
  }
  
  .right-section input {
    padding: 8px 12px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 16px;
    margin-right: 20px; 
  }
  
  .right-section h2 {
    font-size: 20px;
    margin-right: 20px;
    color: #333;
  }
  
  .right-section img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  :root{
    --fondo-color:#181818;
    --items-color:#202020;
    --border-color:#080808;
    --text-color:#e7e7e7;
}
/* :root{
    --fondo-color:#ffffff;
    --items-color:#ffffff;
    --border-color:#ffffff;
    --text-color:#e7e7e7;
} */
*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}
html{
    font-size: 62.5%;
    font-family: sans-serif;
}
body{
    width: 100%;
    height: 100vh;
    background-color: var(--fondo-color);
    position: relative;
}
nav{
    display: flex;
    align-items:center;
    width: 100%;
    padding: 10px 20px;
    background-color: var(--items-color);
    position: fixed;
    border-bottom: 1px solid var(--border-color);
}
nav img{
    margin-left: 20px;
}
nav span i{
    color: #fff;
    font-size: 2.7rem;
    cursor: pointer;
}
aside{
    background-color: var(--items-color);
    width: 260px;
    position: absolute;
    top: 0;
    left: 0;
    bottom:0;
    overflow-y: hidden;
    margin-top: 59px;
    transition: 0.5s;
}
aside:hover{
    overflow-y: auto;
}
.desplegar{
    transform: translateX(-100%);
}
aside::-webkit-scrollbar{
    width: 8px;
}
aside::-webkit-scrollbar-thumb{
    background-color: #909090;
    border-radius: 5px;
}
.container-svg{
    border-bottom: 1px solid var(--border-color);
    padding: 10px 1px;
    color: var(--text-color);
}
.container-svg div{
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
    cursor: pointer;
}
.div_components_institutions{
  background-color: red;
}
.container-svg div:hover{
    background-color: #1d318b;
    color: #e7e7e7;
}
.container-svg div span{
    margin-left: 15px;
    font-size: 1.5rem;
    font-weight: 500;
}
h2{
    padding: 10px 20px;
    color: #aaaaaa;
}
img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
button{
    background-color: transparent;
    border: none;
}

.div-components{
    text-align: center;
    margin-top: 100px;
    margin-left: 150px;
    padding: 10px;
    overflow: auto;
    max-height: 800px;
}

.inputBoton{
    background-color: transparent;
    border: none;
    color: white;
    text-align: left;
    padding: 5px;
    
}

/* Media queri */
@media (max-width: 768px) {
    .div-components{
        margin-left: 60px;
    }
}