*{
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* color: white !important; */
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f9fa;
    padding: 10px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 8vh;
    position: relative; 
  }

.Sidebar input[type="button"] {
    background-color: #007BFF; 
    color: white; 
    border: none; 
    border-radius: 4px; 
    padding: 12px; 
    margin: 10px 0; 
    cursor: pointer; 
    transition: background-color 0.3s, transform 0.2s; 
}

.Sidebar input[type="button"]:hover {
    background-color: #0a40bd;
    transform: scale(1.05); 
}

/* //////////////////////////////////////////////////////////// */
#open-close {
    background-color: #007bff;
    border: none;
    color: white;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 18px;
    
  }
  .label-home-inst{
    color: #1d318b;
  }
  .label-home-inst:hover {
    background-color: #1d318b; /* Color de fondo al hacer hover */
    color: white; /* Color del texto al hacer hover */
    padding: 5px; /* Agrega padding si lo deseas para mejorar la apariencia */
    border-radius: 4px; /* Bordes redondeados si lo deseas */
}
  
  .right-section {
    display: flex;
    align-items: center;
  }
  
  .right-section input {
    padding: 8px 12px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 16px;
    margin-right: 20px; /* Espacio entre el input y el nombre */
  }
  
  .right-section h2 {
    font-size: 20px;
    margin-right: 20px;
    color: #333;
  }
  
  .right-section img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  #aside {
    position: fixed;
    top: 0;
    left: 0;
    margin-top: 4.2rem;
    height: 90vh;
    width: 200px;
    background-color: #0d0d0d;
    color: #fff;
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
    transform: translateX(-250px); /* Oculto inicialmente */
    transition: transform 0.3s ease;
  }
  #aside.desplegar {
    transform: translateX(0); /* Mostrar aside cuando está desplegado */
  }
  .container-svg {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  