/* Estilos principales */
:root {
    --fondo-color: #833c3c;
    --items-color: #801515;
    --border-color: #d65050;
    --text-color: #e7e7e7;
}
#points-tres{
    color: #000000;
}
html {
    font-size: 62.5%;
    font-family: sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    background-color: white !important;
}

button {
    background-color: transparent;
    border: none;
}

h2 {
    padding: 10px 20px;
    color: #aaaaaa;
}

/* .GuiHome-nav-i1{
} */
.GuiHome-nav-i2{
    padding-top: 2em;
}
/* Navbar principal */
.GuiHome-nav {
    display: grid;
    height: 8vh;
    width: 100%;
    grid-template-columns: repeat(3,1fr);
    background-color: #ffffff;
    border-bottom: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.149);
    border-left: 1px solid black;
}

/* Botón de abrir/cerrar menú */
.GuiHome-div-inpust{
    border: none;
    background-color: white ;
}
.GuiHome-div-inpust:hover{
    background-color: #1d318b !important;
}
#GuiHome-open-close i {
    color: #ffffff;
    font-size: 2.7rem;
    cursor: pointer;
}

/* Logo en la navbar */
.GuiHome-logo {
    margin-left: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

/* Título de la navbar */
.GuiHome-title {
    font-size: 20px;
    color: #333;
    margin-right: 20px;
}

/* Sidebar en formato vertical (escritorio) */
#aside{
    background-color: #ffffff;
}
#GuiHome-aside {
    background-color: var(--items-color);
    background-color: #1d318b;
    width: 260px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    margin-top: 8vh;
    transition: 0.5s;
    overflow-y: hidden;
}

#GuiHome-aside.desplegar {
    transform: translateX(-100%);
}

#GuiHome-aside:hover {
    overflow-y: auto;
}

#GuiHome-aside::-webkit-scrollbar {
    width: 8px;
}

#GuiHome-aside::-webkit-scrollbar-thumb {
    background-color: #909090;
    border-radius: 5px;
}

/* Contenedor para la lista de botones */
.GuiHome-container-svg {
    padding: 10px 1px;
}


.GuiHome-container-svg div {
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0);
    padding: 10px 20px;
    cursor: pointer;
}

.GuiHome-container-svg div:hover {
    color: #e7e7e7;
}

.GuiHome-container-svg div span {
    margin-left: 15px;
    font-size: 1.5rem;
    font-weight: 500;
}

/* Botones de la sidebar */
.GuiHome-inputBoton {
    border: none;
    background-color: transparent !important;;
    color: #1d318b;
    text-align: left;
    padding: 5px;
    width: 100%;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.GuiHome-inputBoton:hover {
    transform: scale(1.05);
    background-color: transparent !important;
    color: white !important;;
}

/* Contenedor principal de componentes */
.GuiHome-div-components {
    text-align: center;
    margin-top: 100px;
    margin-left: 150px;
    padding: 10px;
    overflow: auto;
    max-height: 800px;
}

/* Media query para dispositivos móviles */
@media (max-width: 768px) {
    /* Ajustar el contenedor de componentes en móviles */
    .GuiHome-div-components {
        margin-left: 0;
        margin-top: 20px;
        padding: 10px;
    }

    /* Cambiar el sidebar a formato horizontal en la parte inferior de la pantalla */
    #GuiHome-aside {

        width: 100%;
        height: auto;
        position: fixed;
        bottom: 0;
        left: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding: 10px 0;
        margin-top: 0;
        transition: 0.5s;
        transform: translateY(100%); /* Ocultar el menú por defecto en móviles */
        margin-bottom: 1em;
    }

    #GuiHome-aside.desplegar {
        transform: translateY(0); /* Mostrar el menú cuando esté desplegado */
    }

    /* Mostrar el botón de apertura/cierre en móviles y colocarlo en la esquina inferior derecha */
    #GuiHome-open-close {
        display: block;
        position: fixed;
        bottom: 10px;
        right: 10px;
        background-color: #6289b3;
        color: white;
        padding: 10px;
        border-radius: 5px;
        font-size: 18px;
        z-index: 100; /* Asegurarse de que el botón esté por encima del sidebar */
    }
    
    #GuiHome-open-close i {
        font-size: 2.4rem;
    }

    /* Ajustar el contenedor de botones en el sidebar móvil */
    #GuiHome-aside .GuiHome-container-svg {
        
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
        padding: 0;
    }

    .GuiHome-container-svg div {
        padding: 10px;
    }
    #aside{
        width: 20vh;
    }

    /* Ajustar los íconos y el texto en el sidebar */
    .GuiHome-container-svg div span {
        font-size: 1.3rem;
        margin-left: 5px;
    }
    .GuiHome-nav-i2{
        width: 25vh;
        padding-top: 2em;
        padding-left: 2em;
        color: white;
    }
}