
.container_list{
    overflow: auto;
    max-height: 500px;
    display: grid;
    grid-template-columns: repeat(3, 320px);
}

fieldset{
    max-width: 450px;
    height: 300px;
    overflow: auto;
}

/* .students{
    overflow: auto;
} */

.table_json, tr, td, th{
    border: 2px black solid;
    border-radius: 2px;
    padding: 3px;
    margin: auto;
    width: 220px;
    
}

th{
    font-size: 15px;
    
}

.btn-asistencia{
    height: 50px;
    background-color:coral  ;
    width: 180px;
    margin: auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


.btn-close-asistencia{
    background-color: rgb(255, 215, 252);
    color: black;
    border: 2px black solid;
}