
.container_list{
    overflow: auto;
    max-height: 500px;
    display: grid;
    grid-template-columns: repeat(3, 350px);
}

fieldset{
    max-width: 550px;
    height: 450px;
    overflow: auto;
    
}
/* .students{
    overflow: auto;
} */

.table_json, tr, td, th{
    border: 2px black solid;
    border-radius: 2px;
    padding: 3px;
    margin: auto;
    width: 250px;
    
    
}

th{
    font-size: 15px;
    
}
