
.container_list{
    overflow: auto;
    max-height: 500px;
    display: grid;
    grid-template-columns: repeat(3, 320px);
}

fieldset{
    max-width: 450px;
    height: 300px;
    overflow: auto;
}

/* .students{
    overflow: auto;
} */

.table_json, tr, td, th{
    border: 2px black solid;
    border-radius: 2px;
    padding: 3px;
    margin: auto;
    width: 220px;
    
}

th{
    font-size: 15px;
    
}

.btn-asistencia{
    height: 50px;
    background-color:coral  ;
    width: 180px;
    margin: auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
}




/*Asistencia modal  */
.container-asistencia {
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  
  .title {
    text-align: center;
    color: #333;
  }
  
  .subtitle {
    text-align: center;
    color: #555;
  }
  
  .student-card {
    margin: 10px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .student-name {
    color: #333;
  }
  
  .select-asis {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
    font-size: 16px;
    margin-top: 10px;
  }
  
  .button-asis {
    padding: 10px 20px;
    margin-top: 20px;
    border-radius: 5px;
    border: none;
    background-color: #28a745;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
  }
  
.div-btn{
    display: flex;
   justify-content: center;
   gap: 10px;
}

.btn-close-asistencia{
    padding: 10px 20px;
    margin-top: 20px;
    border-radius: 5px;
    border: none;
    background-color: #f56666;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}


