* {
  margin: 0px;
}

.Nav{
    width: 100%;
    height: 70px;
    background-color: #FFFFFF;
}
.Menu{
    display: grid;
    grid-template-columns: 15% 85%; /* Dos columnas del 50% */
    height: 45.9vw;
}

.Sidebar {
    height: 110%;
    display: grid;
    place-content: center;
    background-color: #4E284C;
}

.Sidebar input[type="button"] {
    background-color: #007BFF; 
    color: white; 
    border: none; 
    border-radius: 4px; 
    padding: 12px; 
    margin: 10px 0; 
    cursor: pointer; 
    transition: background-color 0.3s, transform 0.2s; 
}

.Sidebar input[type="button"]:hover {
    background-color: #0056b3;
    transform: scale(1.05); 
}

.div-componentes{
    display: grid;
    padding: 1%;
    grid-template-columns: auto;
}