:root {
    --fondo-color: #ffffff;
    --items-color: #ffffff;
    --border-color: #383838;
    --text-color: #0a40bd; /* Cambiar la variable text-color a E84B71 */
}

label {
    color: #00ccff !important; /* Cambiar el color de los labels a #2d464c */
}


* {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    color: #E84B71; /* Cambiar el color del texto a E84B71 */
}

html {
    font-size: 62.5%;
    font-family: sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    background-color: var(--fondo-color);
    position: relative;
}

nav {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
    background-color: var(--items-color);
    position: fixed;
    border-bottom: 1px solid var(--border-color);
}

nav img {
    margin-left: 20px;
}

nav span i {
    color: #fff;
    font-size: 2.7rem;
    cursor: pointer;
}

aside {
    background-color: var(--items-color);
    width: 260px;
    position: absolute;
    top: 1.3rem;
    left: 0;
    bottom: 0;
    overflow-y: hidden;
    margin-top: 59px;
    transition: background-olor 0.5s ease-out;
}

aside:hover {
    overflow-y: auto;
}

.desplegar {
    transform: translateX(-100%);
}

aside::-webkit-scrollbar {
    width: 8px;
}

aside::-webkit-scrollbar-thumb {
    background-color: #909090;
    border-radius: 5px;
}

.container-svg {
    border-bottom: 1px solid var(--border-color);
    padding: 10px 1px;
    color: var(--text-color);
}

.container-svg div {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
    cursor: pointer;
}

.container-svg div:hover {
    background: linear-gradient(90deg, #0a40bd 52%, rgba(255, 255, 255, 0) 100%); /* Se vuelve transparente al final */
    color: #FFFFFF; /* Cambia el color del texto a blanco */
    /* border-radius: 5rem; */
    transition: 2s backgroud-color ease;
}
.container-svg div:hover .inputBoton {
    color: #FFFFFF; /* Cambia el color del botón a blanco */
    
}


.container-svg div span {
    margin-left: 15px;
    font-size: 1.5rem;
    font-weight: 500;
}

h2 {
    padding: 10px 20px;
    color: #0a40bd; /* Cambiar el color del h2 a E84B71 */
}

img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

button {
    background-color: transparent;
    border: none;
}


.inputBoton {
    background-color: transparent;
    border: none;
    color: #0a40bd; /* Cambiar el color del texto del inputBoton a E84B71 */
    text-align: left;
    padding: 5px;
}
input {
    border: none; /* Sin borde */
    border-bottom: 2px solid #325158; /* Línea inferior */
    background-color: transparent; /* Fondo transparente */
    color: #438e96; /* Cambiar el color del texto a #2d464c */
    padding: 5px; /* Espaciado */
    outline: none; /* Eliminar el contorno por defecto */
    transition: border-color 0.3s ease; /* Transición para el borde */
}

select {
    background-color: transparent; /* Fondo transparente para el select */
    color: #2d464c; /* Color del texto */
    border: none; /* Sin borde */
    padding: 5px; /* Espaciado */
    outline: none; /* Eliminar el contorno por defecto */
}

option {
    color: #2d464c; /* Cambiar el color de los options a #2d464c */
    background-color: white; /* Color de fondo de los options (opcional) */
}
.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 500px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    z-index: 1000;
}



.modal h2, .modal h3 {
    margin: 10px 0;
}

.modal input[type="button"] {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.modal input[type="button"]:hover {
    background-color: #0056b3;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

