/* Estilos principales */
.event-container {
    padding: 20px;
    background-color: #00ccff; 
    color: white;
    font-family: Arial, sans-serif;
    max-width: 1200px;
    margin: auto;
    /* height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; */
  }
  
  .event-title {
    text-align: center;
    color: #E84B71; /* Color de título */
  }
  
  .event-list {
    list-style-type: none;
    padding: 0;
  }
  
  .event-item {
    background-color: #ffffff;
    border-radius: 10px;
    margin: 20px 0;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
  }
  
  .event-item:hover {
    transform: translateY(-5px); /* Efecto al hacer hover */
  }
  
  .event-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .event-header h3 {
    color: #E84B71;
  }
  
  .event-description {
    color: #333;
  }
  
  /* Estilos responsive */
  @media (max-width: 768px) {
    .event-container {
      padding: 10px;
    }
  
    .event-item {
      padding: 15px;
    }
  
    .event-header h3 {
      font-size: 1.2em;
    }
  
    .event-description {
      font-size: 0.9em;
    }
  }
  
  @media (max-width: 480px) {
    .event-header {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .event-header h3 {
      font-size: 1em;
    }
  
    .event-header p {
      font-size: 0.8em;
    }
  
    .event-description {
      font-size: 0.8em;
    }
  }
  
  /* Loading y error */
  .loading, .error {
    text-align: center;
    color: #fff;
    padding: 20px;
  }
  