
/* Contenedor principal */
.login-body {
  display: flex;
  justify-content: flex-end; /* Alinea el contenido al lado derecho */
  align-items: center;
  height: 100vh;
  background-color: #49284A; /* Fondo del lado izquierdo */
  margin: 0;
  padding-right: 5%; /* Espacio entre el contenedor y el borde derecho */

/* .body{
    background-color: white;
>>>>>>> 89cd290361fac9c9f1465aff239501228dfbcf4e
}


/* Contenedor del formulario, alineado a la derecha */
.login-container {
  width: 40%; /* Toma el 40% del ancho para el contenedor */
  max-width: 700px;
  background-color: rgba(73, 40, 74, 0.99); /* Color de fondo del contenedor */
  border-radius: 15px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

/* Imagen de perfil (mascota) */
.login-container img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 20px;
}

/* Título de Login */
.login-title {
  font-size: 2rem;
  margin-bottom: 30px;
  
}

/* Estilos del formulario */
.login-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Estilo de las etiquetas */
.login-label {
  font-size: 1.2rem;
  margin-bottom: 10px;
  align-self: flex-start;
  color: #ddd;
}

/* Campos de texto */
.login-input {
  width: 100%;
  max-width: 400px;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  background-color: #663366; /* Fondo para los inputs */
  color: white;
}

/* Botón de inicio de sesión */
.login-button {
  width: 100%;
  max-width: 400px;
  padding: 10px 0;
  font-size: 1rem;
  background-color: mediumorchid; /* Color verde oscuro */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

.login-button:hover {
  background-color: rgb(83, 10, 101) ; /* Hover más oscuro */
}

/* Texto de error */
.login-error-text {
  color: red;
  margin-bottom: 20px;
  font-size: 0.9rem;
}

/* Responsividad para pantallas más pequeñas */
@media (max-width: 768px) {
  .login-body {
    justify-content: center; /* Centra el contenido en pantallas pequeñas */
    padding-right: 0;
  }

  .login-container {
    width: 80%; /* En pantallas más pequeñas toma el 80% del ancho */
  }
}

} 
